@{
    this.ViewData["Title"] = "Mini Leagues";
}
<h1 class="text-center whiteColor">Mini Leagues</h1>
<br />
<div class="text-center"><a class="btn btn-primary text-center" asp-action="Create">Create Your Own League</a></div>
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col" class="whiteColor text-center">Admin</th>
            <th scope="col" class="whiteColor text-center">Members</th>
            <th scope="col" class="whiteColor text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var miniLigue in Model)
        {
        <tr class="table table-hover table-bordered table-light">

            <td class=" text-lg-center" width="50%">@miniLigue.Name</td>
            <td class=" text-lg-center" width="20%">@miniLigue.Members</td>
            <td class="text-center"><a class="btn btn-success mb-1 text-center" asp-action="Join" asp-route-id="@miniLigue.Id">Join this League</a></td>
        </tr>
        }
    </tbody>
</table>
