@model FootballPredictor.Web.ViewModels.Users.EnumRankingsViewModel

<div>
    <style>
        table {
            counter-reset: rowNumber;
        }

            table tr > td:first-child {
                counter-increment: rowNumber;
            }

            table tr td:first-child::before {
                content: counter(rowNumber);
                min-width: 1em;
                margin-right: 0.5em;
            }
    </style>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col" width="10%" class="text-center whiteColor">Place</th>
            <th scope="col" class="whiteColor">Username</th>
            <th scope="col" class="whiteColor text-center" width="15%">Total Points</th>
        </tr>
    </thead>
    @foreach (var user in Model.Rankings)
    {
        <tbody>
            <tr class="table-light table-bordered">
                <td class="text-center"></td>
                <td scope="row"><a asp-controller="Users" asp-action="PointsByUser" asp-route-id="@user.Id">@user.Username</a></td>
                <td class="text-center">@user.UserPoints</td>
            </tr>
        </tbody>
    }
</table>
