@model FootballPredictor.Web.ViewModels.Users.EnumRankingsViewModel

@foreach (var user in Model.Rankings)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Username</th>
                @foreach (var gameweek in user.Gameweeks)
                {
                    <th scope="col">Gameweek @gameweek</th>
                }
                <th scope="col">Total Points</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light">
                <td scope="row">@user.Username</td>
                @foreach (var points in user.GameweekPoints)
                {
                    <td>@points</td>
                }
                <td>@user.UserPoints</td>
            </tr>
        </tbody>
    </table>
}
