@{
    this.ViewData["Title"] = "Results";
}
<h1>Pick a League</h1>
<a class="btn btn-block btn-danger text-white mb-3" href="/Standings/EnglishPremierLeague">English Premier League</a>
<a class="btn btn-block btn-success text-white mb-3" href="/Standings/GermanBundesliga">German 1. Bundesliga</a>
<a class="btn btn-block btn-dark text-white mb-3" href="/Standings/SpainPrimeraDivision">Spain Primera Division</a>
<a class="btn btn-block btn-primary text-white mb-3" href="/Standings/ItalianSerieA">Italian Serie A</a>
<br />
<br />
<br />
<br />
<br />
<a class="btn btn-block btn-warning text-light mb-3" href="/Players/Rankings">Top Scorers All Leagues</a>

