@model FootballPredictor.Web.ViewModels.Predictions.CreateViewModel
<h1 class="text-center mt-2">Create Prediction</h1>
<hr class="bg-primary w-75">

<form class="mx-auto w-50" method="post">
    <div class="form-group">
        <div class="text-white d-flex justify-content-center">
            <label asp-for="HomeGoals" class="h3 mb-2"></label>
        </div>
        <input asp-for="HomeGoals" class="form-control" />
        <span asp-validation-for="HomeGoals" class="text-danger bg-white"></span>
    </div>
    <div class="form-group">
        <div class="text-white d-flex justify-content-center">
            <label asp-for="AwayGoals" class="h3 mb-2"></label>
        </div>
        <input asp-for="AwayGoals" class="form-control" />
        <span asp-validation-for="AwayGoals" class="text-danger bg-white"></span>
    </div>
    <div class="form-group">
        <div class="text-white d-flex justify-content-center">
            <label asp-for="Description" class="h3 mb-2"></label>
        </div>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger bg-white"></span>
    </div>
    <input type="text" hidden id="matchId" name="matchId" value="@Model.Id" />
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-success text-white mb-3">Save Prediction</button>
    </div>
</form>
