@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

    <div class="form-control bg-light">

        1. In the Website are used real Football Leagues, Players and Teams names!
    </div>
    <div class="form-control bg-light">

        2. This Website has no commercial purpose!
    </div>
    <div class="form-control bg-light">

        3. This Website is created for education and for fun.
    </div>
