@{
    this.ViewData["Title"] = "Rules";
}

<h1 class="text-center whiteColor">Rules of The Game</h1>
<p>
    <div class="form-control">
        1. You can choose from 4 differrent Football Leagues
    </div>
    <div class="form-control">
        2. Select a match and create your prediction for the result. Describe your opinion.
        </div>
    <div class="form-control">
        3. Do it whisley! You have 15 free predictions ( NO MORE ) to make in every GameWeek.
    </div>
    <div class="form-control">
        4. You earn 10 points for every right prediction (Home,Draw,Away) and 10 more points if you predict the right scored goals from each team.
    </div>
    <div class="form-control">
        5. Watch your place on global Ranking.
    </div>
    <div class="form-control">
        6. You can create your own Ranking League and Invite your Friends. Beat them in yours own Ranking System.
    </div>
    <div class="form-control">
        7. Watch and Enjoy The Real Football on new level of Fun.
    </div>
</p>
